@import "https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Zilla+Slab&display=swap";
* {
  margin: 0;
  padding: 0;
}

main {
  background-color: rgba(212, 209, 209, 0.909);
  width: 100%;
  padding-top: 75px;
}
main section ul li a {
  font-family: "zilla slab";
  text-decoration: none;
  font-size: 24px;
  color: black;
}

h3 {
  font-family: "zilla slab";
  font-size: 22px;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 5px;
  margin: 0;
}

ol {
  list-style: none;
  margin: 0;
}

h1 {
  padding-top: 10px;
}

.footer {
  bottom: 0;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(120deg, rgb(52, 51, 51), rgb(0, 0, 0));
  padding-left: 3px;
  padding-right: 3px;
}
.footer .footer-enlaces {
  display: grid;
  grid-template-columns: 3fr 1fr;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .footer-enlaces .enlaces-footer {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding-right: 0;
}
.footer .footer-enlaces .enlaces-footer a {
  font-family: "zilla slab";
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.footer p {
  font-family: "zilla slab";
  font-size: 17px;
  color: white;
  padding: 0;
  margin-bottom: 0;
}
.footer .copyright {
  display: flex;
  border-top-width: 2px;
  border-style: solid;
  border-top-color: white;
  justify-content: center;
  text-align: center;
}

.navbar {
  display: flex;
  padding-right: 30px;
  position: fixed;
  font-family: "zilla slab";
  font-size: 20px;
  width: 100%;
  max-height: 80px;
  z-index: 1;
  padding: 0;
}
.navbar .container-fluid {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(102, 100, 100));
}
.navbar .container-fluid .navbar-toggler {
  border: 2px solid black;
  margin-right: 10px;
}
.navbar a img {
  width: 120px;
}
.navbar .navbar-collapse {
  justify-content: right;
}
.navbar .navbar-collapse .nav-item {
  padding-left: 10px;
}
.navbar .navbar-collapse .nav-link {
  color: white;
}
.navbar ul {
  list-style: none;
}
.navbar a {
  min-width: 120px;
}

#mode-select {
  padding: 3px;
  height: 80px;
  border: 0;
  color: white;
  background-color: transparent;
}

.modo-river {
  background-image: linear-gradient(120deg, rgb(248, 2, 2), rgb(247, 244, 244)) !important;
}

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-main .formulario {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #191919;
  box-shadow: 5px 3px 10px 1px black;
}

form input {
  display: block;
}
form .mb-3 {
  width: 100%;
  text-align: left;
}
form textarea {
  display: block;
}

.titulo {
  padding-left: 1rem;
}

.contacto-hr {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0;
  font-family: "zilla slab";
  font-size: 35px;
  display: flex;
  justify-content: center;
}
.contacto-hr h2 {
  width: 70%;
}

.buttons .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}
.buttons .btn-success {
  background-color: #198754;
  border-color: #198754;
  color: white;
}

.text-container {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.text-container p {
  width: 80%;
  font-family: "zilla slab";
  font-size: 22px;
  font-weight: 900;
}

.marcas {
  justify-content: space-between;
  width: 98%;
}
.marcas .imgindex {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 40px;
  max-width: 200px;
  max-height: 200px;
}

.atencion {
  text-align: center;
  font-family: "zilla slab";
  font-size: 30px;
  padding-top: 20px;
}

.zona-index {
  display: flex;
  margin: 15px;
  gap: 20px;
  max-width: 100%;
  justify-content: center;
}
.zona-index .zonas-cards {
  border: 1px #191919;
  box-shadow: 3px 1px 5px 1px black;
  border-style: groove;
  border-radius: 5%;
  padding: 10px;
  min-width: 185px;
}
.zona-index .zonas-cards .zona-title {
  text-align: center;
  font-family: "zilla slab";
  font-size: 20px;
}
.zona-index .zonas-cards .zona-title .outline-dark {
  color: black;
  border-color: #191919;
  text-align: center;
  font-family: "zilla slab";
  font-size: 20px;
}
.zona-index .zonas-cards .card-body {
  text-align: justify;
  background-color: rgba(212, 209, 209, 0.909);
  border: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  background-color: #191919;
  padding-top: 0;
}
.carousel .carousel-inner {
  display: flex;
  width: 400px;
}
.carousel .carousel-inner .img-carousel {
  height: 400px;
}

@media only screen and (max-width: 990px) {
  .nav-item {
    border: 1px solid black;
  }
  .navbar {
    font-size: 20px;
  }
  .productos {
    display: flex;
    justify-content: space-between;
  }
  .zona-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    gap: 20px;
  }
  .ns-description {
    font-size: large;
  }
}
@media only screen and (max-width: 400px) {
  .marcas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container-fluid {
    padding-left: 0;
  }
  .navbar {
    font-size: 20px;
  }
  .productos {
    display: flex;
    justify-content: center;
  }
  .ns-description {
    font-size: small;
  }
}
@media only screen and (min-width: 401px) {
  .marcas {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  .container-fluid {
    margin: 0;
    padding-left: 0;
    align-items: start;
  }
}
@media only screen and (max-width: 620px) {
  .productos {
    display: flex;
    justify-content: center;
  }
  .imgindex {
    padding-right: 10px;
  }
  .zona-index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    gap: 20px;
  }
  .enlaces-footer {
    text-align: justify;
    margin-right: 150px;
  }
  form.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-enlaces {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
  }
}
@media only screen and (max-width: 690px) {
  .zona-index {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    gap: 20px;
  }
  .zonas-cards {
    width: 80%;
  }
  .quienessomosformato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  .somos-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .formulario {
    width: 90%;
  }
}
@media only screen and (min-width: 991px) {
  .zonas-cards {
    max-width: 25%;
  }
  .productos {
    display: flex;
    justify-content: space-between;
  }
  .arrow {
    display: none;
  }
  .quienessomosformato {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.nssection {
  margin-left: 40px;
  padding-top: 20px;
}
.nssection .ns-cards {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  padding-top: 10px;
  border-style: hidden;
  gap: 50px;
  justify-content: center;
}
.nssection .ns-card {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #191919;
  font-size: 20px;
  width: 60%;
  height: 30%;
}
.nssection .ns-card .ns-description {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nssection .ns-card .bi-cart4 {
  display: flex;
  justify-content: right;
  text-decoration: none;
  color: white;
  font-size: 40px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.nssection .ns-card a {
  text-decoration: none;
}

.quienes-main .quienessomosformato {
  text-align: justify;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
}
.quienes-main .quienessomosformato h2 {
  width: 80%;
}
.quienes-main .somos-sec {
  padding: 10px;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}
.quienes-main .somos-sec h2 {
  padding-bottom: 50px;
}

.productos {
  background-color: rgba(212, 209, 209, 0.909);
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  gap: 20px;
  transition: 0.3s;
}
.productos .lavarropas {
  background-color: rgba(212, 209, 209, 0.909);
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border: 1px solid #191919;
  box-shadow: 5px 3px 10px 1px black;
  position: relative;
  height: 500px;
  transition: 0.3s;
}
.productos .lavarropas:hover {
  scale: 1.05;
  box-shadow: 10px 3px 10px 1px black;
}
.productos .lavarropas .imgtienda {
  max-width: 300px;
  max-height: 300px;
}
.productos .lavarropas .descripcion {
  padding: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.productos .lavarropas .cart-tienda {
  padding: 8px;
  position: absolute;
  background-color: #191919;
  opacity: 1;
  top: 244px;
  right: 0px;
  cursor: pointer;
}
.productos .lavarropas .bi-cart4 {
  display: flex;
  justify-content: right;
  text-decoration: none;
  color: white;
  font-size: 40px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.productos .lavarropas .oferta {
  padding: 8px;
  background-color: brown;
  color: rgba(212, 209, 209, 0.909);
  position: absolute;
  top: 10px;
  left: -10px;
  height: 40px;
}

.arrow {
  position: fixed;
  bottom: 170px;
  right: 0;
  cursor: pointer;
  font-size: 60px;
  color: black;
}

.filter-button {
  background-color: #191919;
  color: white;
  padding: 5px;
  margin-left: 10px;
}

.filter {
  display: flex;
  padding-top: 15px;
}



/*# sourceMappingURL=style.css.map */
