@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Zilla+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* estilo de navbar */
.navbar {
    display: flex;
    padding-right: 30px;
    background-image: url(../images/colornav.png);
    position: fixed;
    font-family: "zilla slab";
    font-size: 30px;
    width: 100%;
    max-height: 80px;
    z-index: 1;
    padding: 0;
}

.navbar-collapse {
    background-image: url(../images/colornav.png);
    justify-content: right;
}

nav a {
    min-width: 120px;
}

header a img {
    width: 120px;

}

nav ul {
    list-style: none;
}

.container-fluid {
    margin: 0;
    padding-left: 0;
}

/* Estilo de Footer */

footer {
    background-image: url(../images/colornav.png);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

footer p {
    font-family: "zilla slab";
    font-size: 15px;
    color: white;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
}

footer a {
    font-family: "zilla slab";
    font-size: 15px;
    color: white;
    text-decoration: none;

}



.enlaces-footer {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0;

}

/* Estilo de página de contacto */

.contact {
    padding-left: 1rem;
}

.mb-3 {
    width: 50%;
    margin: 1rem;
    text-align: left;
}

section form input,
section form textarea {
    display: block;
}

.contacto-hr {
    padding-top: 100px;
    margin-bottom: 0;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
}

.btn-success {
    background-color: #198754;
    border-color: #198754;
    color: white;
}

/* Formato de Index */

.text-container {
    background-repeat: no-repeat;
    background-color: rgba(212, 209, 209, 0.909);

}

.marcas {
    justify-content: space-between;
    width: 98%;
}

.imgindex {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 40px;
    max-width: 200px;
    max-height: 200px;
}

.atencion {
    text-align: center;
    font-family: "zilla slab";
    font-size: 20px;
}

.zona-index {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px;
    gap: 20px;
    max-width: 100%;
    justify-content: center;
}

.zonas-cards {
    border: 1px solid #191919;
    box-shadow: 3px 1px 5px 1px black;
    border-style: groove;
    border-radius: 5%;
    padding: 10px;
}

.zona-title {
    text-align: center;
    font-family: "zilla slab";
    font-size: 20px;
}

.carousel-inner {
    display: flex;
    width: 400px;
}

.carousel {
    display: flex;
    justify-content: center;
    background-color: #191919;
    padding-top: 0;
}

.outline-dark {
    background-color: rgba(212, 209, 209, 0.909);
    color: #191919;
    border-color: #191919;
    text-align: center;
    font-family: "zilla slab";
    font-size: 20px;
}

.card-body {
    text-align: justify;
    background-color: rgba(212, 209, 209, 0.909);
    border: 0;
}

/* Otros formatos */
h1 {
    padding-left: 1rem;
}

main {
    background-color: rgba(212, 209, 209, 0.909);
    width: 100%;
    padding-top: 75px;
}

section h2 {
    font-family: "zilla slab";
    font-size: 35px;
}

h3 {
    font-family: "zilla slab";
    font-size: 30px;
    font-weight: 900;
    padding-left: 10px;
}

/* Formato de tienda */

.productos {
    background-color: rgba(212, 209, 209, 0.909);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 50px;
}

.lavarropas {
    background-color: rgba(212, 209, 209, 0.909);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid #191919;
    box-shadow: 5px 3px 10px 1px black;
    position: relative;
    margin-bottom: 10px;
}

.lavavajillas {
    background-color: rgba(212, 209, 209, 0.909);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border: 1px solid #191919;
    box-shadow: 5px 3px 10px 1px black;
    position: relative;
    margin-bottom: 10px;
}

.imgtienda {
    max-width: 300px;
}

ol {
    list-style: none;
}

.descripcion {
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.oferta {
    padding: 8px;
    background-color: brown;
    color: rgba(212, 209, 209, 0.909);
    position: absolute;
    top: 10px;
    left: -10px;
    height: 40px;
}


section div img {
    height: 400px;
}

/* Formato de Quienes somos */

.quienessomosformato {
    text-align: justify;
    padding-right: 80px;
}

.somos-sec {
    padding-left: 10px;
    padding-top: 10vh;
}

/* Formato de nuestros servicios */

.nslist {
    padding-top: 4rem;
    list-style: circle;

}

.nssection {
    padding-top: 3rem;
    height: 80vh;
    margin-left: 40px;
}

main section ul li a {
    font-family: "zilla slab";
    text-decoration: none;
    font-size: 24px;
    color: black;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.prueba {
    width: 100%;
    height: 300px;
    display: flex;
    /* Para alinear verticalmente */
    align-items: center;
    /* Para alinear horizontalmente */
    justify-content: center;
    font-size: 60px;
}

.c1 {
    background-color: blue;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    .nav-item {
        border: 1px solid black;

    }

    .navbar {
        font-size: 20px;
    }

    .productos {
        display: flex;
        justify-content: space-between;

    }

    .zona-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px;
        gap: 20px;
    }

}

@media only screen and (max-width: 400px) {
    .marcas {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .container-fluid {
        padding-left: 0;
    }

    .navbar {
        font-size: 20px;
    }

    .productos {
        display: flex;
        justify-content: center;
    }

}

@media only screen and (min-width: 401px) {
    .marcas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-fluid {
        margin: 0;
        padding-left: 0;
        align-items: start;
    }
}

@media only screen and (max-width: 620px) {
    .productos {
        display: flex;
        justify-content: center;
    }

    .zona-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px;
        gap: 20px;
    }
}

@media only screen and (max-width: 690px) {
    .zona-index {
        display: grid;
        grid-template-columns: 1fr;
        margin: 15px;
        gap: 20px;
    }
}

@media only screen and (min-width:991px) {
    .zonas-cards {
        max-width: 25%;
    }
}