.contacto-hr {
	padding-top: 100px;
	margin-bottom: 0;
}
.btn-danger {
	background-color: $background-color_1;
	border-color: $border-color_1;
	color: $color_1;
}
.btn-success {
	background-color: $background-color_2;
	border-color: $border-color_2;
	color: $color_1;
}