footer {
	background-image: url(../images/colornav.png);
	display: grid;
	grid-template-columns: 3fr 1fr;
	align-items: center;
	bottom: 0;
	width: 100%;
	z-index: 1;
	p {
		font-family: $font-family_1;
		font-size: 15px;
		color: $color_1;
		padding: 0;
		margin-left: 10px;
		margin-bottom: 0;
	}
	a {
		font-family: $font-family_1;
		font-size: 15px;
		color: $color_1;
		text-decoration: none;
	}
}
.enlaces-footer {
	display: flex;
	flex-direction: column;
	margin-right: 0;
	padding-right: 0;
}
.contact {
	padding-left: 1rem;
}
.mb-3 {
	width: 50%;
	margin: 1rem;
	text-align: left;
}
section {
	form {
		input {
			display: block;
		}
		textarea {
			display: block;
		}
	}
	h2 {
		font-family: $font-family_1;
		font-size: 35px;
	}
	div img {
		height: 400px;
	}
	
}