.text-container {
	background-repeat: no-repeat;
	background-color: $background-color_3;
}
.marcas {
	justify-content: space-between;
	width: 98%;
}
.imgindex {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 40px;
	max-width: 200px;
	max-height: 200px;
}
.atencion {
	text-align: center;
	font-family: $font-family_1;
	font-size: 20px;
}
.zona-index {
	display: flex;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 15px;
	gap: 20px;
	max-width: 100%;
	justify-content: center;
}
.zonas-cards {
	border: 1px solid #191919;
	box-shadow: 3px 1px 5px 1px black;
	border-style: groove;
	border-radius: 5%;
	padding: 10px;
}
.zona-title {
	text-align: center;
	font-family: $font-family_1;
	font-size: 20px;
}
.carousel-inner {
	display: flex;
	width: 400px;
}
.carousel {
	display: flex;
	justify-content: center;
	background-color: $background-color_4;
	padding-top: 0;
}
.outline-dark {
	background-color: $background-color_3;
	color: $color_2;
	border-color: $border-color_3;
	text-align: center;
	font-family: $font-family_1;
	font-size: 20px;
}
.card-body {
	text-align: justify;
	background-color: $background-color_3;
	border: 0;
}