@media only screen and (max-width: 990px) {
    .nav-item {
        border: 1px solid black;
    }


    .navbar {
        font-size: 20px;
    }

    .productos {
        display: flex;
        justify-content: space-between;
    }

    .zona-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px;
        gap: 20px;
    }
    .ns-description {
        font-size: large;
    }
}

@media only screen and (max-width: 400px) {
    .marcas {
        @include flex;
    }
    
    .container-fluid {
        padding-left: 0;
    }

    .navbar {
        font-size: 20px;
    }

    .productos {
        display: flex;
        justify-content: center;
    }

    .ns-description {
        font-size: small;
    }
}

@media only screen and (min-width: 401px) {
    .marcas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }

    .container-fluid {
        margin: 0;
        padding-left: 0;
        align-items: start;
    }

}

@media only screen and (max-width: 620px) {
    .productos {
        display: flex;
        justify-content: center;
    }

    .imgindex {
        padding-right: 10px;
    }

    .zona-index {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 15px;
        gap: 20px;
    }
}

@media only screen and (max-width: 690px) {
    .zona-index {
        @include flex;
        margin: 15px;
        gap: 20px;
    }
    .zonas-cards {
        width: 50%;
    }
}

@media only screen and (min-width: 991px) {
    .zonas-cards {
        max-width: 25%;
    }
    .productos {
        display: flex;
        justify-content: space-between;
    }
}