footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(120deg, rgb(52, 51, 51), rgb(0, 0, 0));

}

footer p {
    font-family: "zilla slab";
    font-size: 15px;
    color: white;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
}

footer a {
    font-family: "zilla slab";
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.enlaces-footer {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding-right: 0;
}