.navbar {
    display: flex;
    padding-right: 30px;
    background-image: url(../images/colornav.png);
    position: fixed;
    font-family: "zilla slab";
    font-size: 24px;
    width: 100%;
    max-height: 80px;
    z-index: 1;
    padding: 0;
}

.navbar-collapse {
    background-image: url(../images/colornav.png);
    justify-content: right;
}

nav a {
    min-width: 120px;
}

nav ul {
    list-style: none;
}

header a img {
    width: 120px;
}

.container-fluid {
    margin: 0;
    padding-left: 0;
}