.navbar {
    display: flex;
    padding-right: 30px;
    position: fixed;
    font-family: "zilla slab";
    font-size: 20px;
    width: 100%;
    max-height: 80px;
    z-index: 1;
    padding: 0;

    .container-fluid {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        background-image: linear-gradient(120deg, rgb(0, 0, 0), rgb(102, 100, 100));

        .navbar-toggler {
            border: 2px solid black;
            margin-right: 10px;
        }
    }

    a img {
        width: 120px;
    }

    .navbar-collapse {
        justify-content: right;

        .nav-item {
            padding-left: 10px;
        }

        .nav-link {
            color: $color_2;

        }
    }

    ul {
        list-style: none;
    }

    a {
        min-width: 120px;
    }

}

#mode-select {
    padding: 3px;
    height: 80px;
    border: 0;
    color: $color_2 ;
    background-color: transparent;
}

.modo-river {
    background-image: linear-gradient(120deg, rgb(248, 2, 2), rgb(247, 244, 244)) !important;
    .nav-link {
        color: black !important;
    }
    #mode-select {
        color: black;
    }
    a {
        color: black !important;
    }
    p {
        color: black;
    }
}