@import "https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&family=Zilla+Slab&display=swap";

* {
    margin: 0;
    padding: 0;
}

main {
	background-color: $background-color_1;
	width: 100%;
	padding-top: 75px;
	min-height: 700px;
	section {
		ul {
			li {
				a {
					font-family: $font-family_1;
					text-decoration: none;
					font-size: 24px;
					color: $color_1;
				}
			}
		}
	}
}

h3 {
	font-family: $font-family_1;
	font-size: 22px;
	font-weight: 900;
	padding-left: 10px;
	padding-right: 5px;
	margin: 0;
}
ol {
	list-style: none;
	margin: 0;
}

h1 {
    padding-top: 10px;
}