$color_1: black;
$color_2: white;
$color_3: #191919;
$color_4: rgba(212, 209, 209, 0.909);
$font-family_1: "zilla slab";
$background-color_1: rgba(212, 209, 209, 0.909);
$background-color_2: #dc3545;
$background-color_3: #198754;
$background-color_4: #191919;
$background-color_5: black;
$background-color_6: brown;
$border-color_1: #dc3545;
$border-color_2: #198754;
$border-color_3: #191919;